<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="index.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/833be7c20c.js"
      crossorigin="anonymous"
    ></script>
    <title>Rabby Website!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand fs-3 fw-bolder name" href="#">ABDUR RAB</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item ps-5">
              <a
                class="nav-link active text-light fs-3 ps-3"
                aria-current="page"
                href="#home"
              >
                <i class="fa-solid fa-house"></i> Home</a
              >
            </li>
            <li class="nav-item ps-5">
              <a class="nav-link text-light fs-3" href="#project">
                <i class="fa-solid fa-briefcase"></i> Project</a
              >
            </li>
            <li class="nav-item ps-5">
              <a class="nav-link text-light fs-3" href="#contact"
                ><i class="fa-solid fa-file-signature"></i>Contact</a
              >
            </li>
            <li class="nav-item ps-5">
              <a class="nav-link text-light fs-3" href="#about"
                ><i class="fa-solid fa-user"></i>About</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid bg">
      <div class="row p-5 sec1">
        <div class="col-sm-6">
          <img src="../Image/rabby.jpg" alt="" class="img-fluid rounded w-75" />
        </div>
        <div class="col-sm-6">
          <h1 class="text-warning text-center">-I am ABDUR RAB</h1>
          <h3 class="text-light text-center">|| MATH ||</h3>
          <h3 class="text-light text-center">PROGRAMMER</h3>
          <p class="text-light">
            I'm an Industrial Engineer with extensive knowledge and experience
            of working in Industrial engineering, Production improvement,
            Quality and Supply Chain sector, seeking a position in a challenging
            yet rewarding role to continue developing my knowledge and skill, as
            well as benefit mutual growth and success. I'm a fresh graduate
            seeking for learning new staffs. Besides I like to draw 2D & 3D
            model and product design in AutoCAD & SolidWorks Software.
          </p>
          <a href="#about">
            <button class="btn btn-dark m-auto">
              MORE ABOUT ME <i class="fa-solid fa-arrow-right moreMe"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>
